body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.counter {
  width: 500px;
  margin: auto;
  background: #590F3F;
  border-radius: 100px;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 250px;
  
}
.counter h1 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
  padding-bottom: 25px;
  color: #F28627;
}
.counter .btn1 {
  background: #A60530;
  border: 0;
  box-shadow: 0px 5px 0px #e7a6b5;
  padding: 20px;
  margin: 10px 5px 0 5px;
  width: 45%;
  outline: none;
  border-radius: 3px;
  color: #D95C14;
  font-weight: bold;
 margin-bottom: 50px;
 border-radius: 40px;
 font-size: 20px;
 margin-left: 10px;
}

.counter .btn2 {
  background: #A60530;
  border: 0;
  box-shadow: 0px 5px 0px #e7a6b5;
  padding: 20px;
  margin: 10px 5px 0 5px;
  width: 45%;
  outline: none;
  border-radius: 3px;
  color: #D95C14;
  font-weight: bold;
 margin-bottom: 50px;
 border-radius: 40px;
 font-size: 20px;
 margin-right: 30px;
}

.btn3 {
  background: #0F4C59;
  border: 0;
  box-shadow: 0px 5px 0px #81ccdd;
  padding: 20px;
  margin: 10px 5px 0 5px;
  width: 45%;
  outline: none;
  border-radius: 3px;
  color: #D95C14;
  font-weight: bold;
  border-radius: 40px;
  font-size: 20px;
}

h2 {
  color: #D96704;
  font-size: 40px;
}